
@using OgrenciNotlariEL.ViewModels;
@model List<StudentDTO>
@{
    ViewData["Title"] = "Students";
}


<h1>Öğrenci Listesi</h1>
@if (TempData["StudentAddSuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>BİLGİ!</strong> @TempData["StudentAddSuccessMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br />
}
@*<p>
    <input type="button" value="Öğrenci Ekle" class="btn btn-primary" onclick="location.href='@Url.Action("AddStudent", "Home")'" />
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>işlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>
                    @*@if (!student.)
                    {

                        <form method="post" action="@Url.Action("Delete", "Personel", new { id = item.Id })">
                            <button type="submit" class="btn btn-sm btn-success">PERSONELİ SİL</button>
                        </form>
                    }*@  
                    <p>
                        <input type="button" value="Öğrenciye Not Ekle" class="btn btn-primary" onclick="location.href='@Url.Action("AddStudentLessonScore", "Home",new { id = @student.Id })'" />
                    </p>
                    
                </td>
            </tr>
        }
    </tbody>
</table>
